{% extends 'layout.html' %}
{% block content %}
    <ul style="width: 50%; float: left;">
        {% for url in urls %}
            <li>{{ url.url }}</li>
        {% endfor %}
    </ul>
    <ul style="display: inline;">
        {% for shorty in shorty_urls %}
            <li>{{ shorty }}</li>
        {% endfor %}
    </ul>
{% endblock %}