{% extends 'layout.html' %}
{% block content %}
    <div id="app">
        <p>[[ title ]]</p>
        <label for="url">URL: </label>
        {% csrf_token %}
        <input name="url" id="url" type="text" v-model="urlInput">
        <button @click="addUrl()">Add</button>
        <button @click="send()">Shorten</button>

        <h2>Your shorty URLs:</h2>
        <ul>
            <li v-for="(item, index) in urls">[[ item ]] => [[ shortyUrls[index] ]] </li>
        </ul>

        <form action="{% url 'shorten_file' %}" method="post" enctype="multipart/form-data">
            <input type="file" name="urlsfile">
            <button type="submit">Upload</button>
        </form>
    </div>
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                title: 'Shorty URL',
                urls: [],
                shortyUrls: [],
                urlInput: '',
            },
            methods: {
                addUrl(){
                    this.urls.push(this.urlInput)
                    this.urlInput = ""
                },
                send(){
                    let path = "/shorten_many/"
                    let urls = {
                        urls: this.urls
                    }
                    axios.post(path, urls).then((response) => {
                        debugger
                        let urls = response.data.shorty_urls
                        if(urls){
                            urls.forEach((el) => {
                                this.shortyUrls.push(el)
                            })
                        }
                    })
                }
            }
        })
    </script>
{% endblock %}